/* [start]default upper bar */
body {
  font:12px/1.8 Arial, Helvetica, sans-serif;
}

#default {
    width: 100%;
    height: 10%;
    margin-bottom: 40px;
    border-bottom: 2px solid #999999;
    text-align: center;
    font-size: 20px;
}

#logo {
    font-size: x-large;
    font-weight: bold;
    display: inline;
    width: 150px;
    
}

#default_pad1 {
    width: 60%;
}


/* Place border-bottom:3px solid #6E41E2; following the identity of the page! */

#Main_Page {
    border-bottom: 3px solid #6E41E2;
    cursor: pointer;
}

#My_Order_List {
    cursor: pointer;
}

#default_pad2 {
    width: 3%
}

#My_Name {
    color: #6E41E2
}


/* [end] default upper bar */

#div_makegb {
    float: right;
}

#dotbogi {
    height: 45px;
    margin-right: 10px;
    margin-left: 10px
}

#category_title{
    font-size:45px;
    margin-bottom:3%
}
#s_1 {
    width: 10%
}

#s_2 {
    width: 55%
}

#s_3 {
    width: 20%
}

#popular_product {
    font-size: 20px;
    vertical-align: middle
}

#popular_title {
    font-size: 10px;
}

#popular_long {
    position: absolute;
    left: 63.75%;
    top: 35%;
    border: 1px solid red;
}

#centerbar {
    border-collapse: collapse;
    border: 1px solid black;
    margin-bottom: 5%;
    width: 50%;
    border-radius: 7px;
    /* position:absolute;
    left: 20%;
    top: 35% */
}

#button_makegb {
    height: 50px;
    font-size: 30px;
    color: white;
    background-color: #6E41E2;
    border-radius: 4px;
    cursor: pointer;
}

#button_search {
    height: 55px;
    font-size: 25px;
    cursor: pointer;
}

#cat_table{
    width: 1200px;
    height: 150px;
}

#search {
    width: 100%;
    height: 50px;
    font-size: 30px;
    border: none
}


/* #category_div{
    position:absolute;
    top:55%;
    width: 80%;
    margin-left:10%

} */

.icon {
    background-color: #eddbf4;
    border-radius: 50%;
    font-size: 27px;
    width: 150px;
    margin-right: 100px;
    margin-left: 20px;
    text-align: center;
    cursor: pointer
}

.pic {
    width: 70px
}

.pad {
    width: 15px
}
