

body {
  font:14px/1.8 Arial, Helvetica, sans-serif;
}

a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: none;}
li{
  list-style:none;
}

ul{
  margin-left: 20px;
}

.container{
  margin-left: 10%;
  margin-right: 10%;
}

.frame {
  max-width: 1500px;
  min-width: 700px;
  padding-left: 30px;
  margin: 50px 50px;
  border: 1px solid #aaa;
}

.topmenu{
  cursor: pointer;
}

#My_Order_List {
    border-bottom: 3px solid #6E41E2;
    cursor: pointer;
}

#default {
    width: 100%;
    height: 10%;
    margin-bottom: 40px;
    border-bottom: 2px solid #999999;
    text-align: center;
    font-size: 20px;
}
#My_Name{
  color:#6E41E2;
}
#default_pad1 {
  width: 55%;
}

#default_pad2 {
  width:3%;
}
.logo{
  font-size: x-large;
  font-weight: bold;
  display: inline;
  width: 150px;
}
.nav{
  display: inline;
  width: 1000px;
  margin: 0 auto;
}
.nav-list{
  display: inline;
  vertical-align: middle;
}
.nav-item{
  float: right;
  text-align: center;
  font-size: large;
  width: 130px;
  height:50px;
  vertical-align: middle;
  border: 1px solid black;
}

.with-bg-size{
  width: 300px;
  height: 300px;
  background-position: center;
  /*background-image: url("src/img/carrot1.jpg");*/
  /* Make the background image cover the area of the <div>, and clip the excess */
  background-size: cover;
  border-radius: 7px 7px 0 0;
}

.image {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.image img {
    width: 300px;
    height: 300px;
    margin: -75px 0 0 -100px;
}

ul{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

dd{
  margin-inline-start: 20px;
}

dl{
  margin: 0;
}


.progress-container {
    background: #b3bce7;
    width:100%;
    margin: 0;
    padding:0;
    height:20px;
}
.progressbar{
  width:200px;
  max-width: 100%;
  height:20px;
  margin:0;
}
.progressPercent{
  display: inline;
  position: relative;
  color: #556EE6;
  size: 12px;
  font-weight: bold;
  font-family: noto sans;
  margin-left: 0px;
}
.progressNote{
  display: inline;
  position: relative;
  color: #afafaf;
  size: 12px;
  font-weight: bold;
  font-family: noto sans;
  float: right;
  margin: 0;
  margin-right: 10px;
}


.deleteBtn{
  background-color: #DB524E;
  font-weight: 700;
  text-align: center;
  display: table;
  vertical-align: middle;
  color: #fff;
  height: 25px;
  width: 70px;
  margin: 3px;
  border-radius: 7px;
  cursor:pointer;
  float: right;
}


.ongoingProduct{
  width: 300px;
  margin: 10px;
  float: left;
  border-radius: 7px;
}

.name{
  font-size: 20px;
  line-height: 23px;
}

.prev-cost{
  display: block;
  padding-top: 6px;
  color: #ccc;
  line-height: 18px;
  font-family: noto sans;
  font-size: 16px;
  /*text-decoration: line-through;*/
  /*float: right;*/
}
.cost{
  display: block;
  font-family: noto sans;
  font-weight: bold;
  font-size: 18px;
  /*float: right;*/
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #bfbfbf; /* gray */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin-left: 100px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ongoingProduct{
	cursor: pointer;
}

.HostBadge{
  position: absolute;
  width: 100px;
  height: 30px;
  background-color: #DB524E;
  border-radius: 7px 0 3px 0;
  color: white;
  font-size: 16px;
  text-align: center;
  display: inilne-block;
  box-shadow: 10px 10px 22px -6px rgba(0,0,0,0.48);
}

.InfoAsk{
  position: absolute;
  width: 150px;
  height: 30px;
  background-color: #DB524E;
  border-radius: 7px 0 3px 0;
  color: white;
  font-size: 16px;
  text-align: center;
  display: inilne-block;
  box-shadow: 10px 10px 22px -6px rgba(0,0,0,0.48);
}