
body {
  font:14px/1.8 Arial, Helvetica, sans-serif;
}

#makepopup {
    /* Rectangle */
    position: absolute;
    height: 630px;
    width: 1080px;
    left: 50%;
    margin-left: -540px;
    top: 50%;
    margin-top: -285px;
    /* Colors / White */
    background: #FFFFFF;
    /* Shadow */
    box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.08), 0px 4px 4px rgba(51, 51, 51, 0.04);
    border-radius: 8px;
    display: none;
}

#title {
    position: absolute;
    width: 500px;
    height: 45px;
    left: 39px;
    top: 37px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    color: #6E41E2;
}

#close {
    background-image: url("../src/closeBtn.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

#info {
    /* Information */
    position: absolute;
    width: 169px;
    height: 47px;
    left: 76px;
    top: 85px;
    /* 16 Paragraph 2 */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /* or 150% */
    display: flex;
    align-items: center;
    color: #000000;
}

#name {
    /* Container */
    position: absolute;
    height: 37px;
    width: 688px;
    left: 0px;
    top: 50px;
    /* Colors / White */
    background: #FFFFFF;
    /* Shadow */
    box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.08), 0px 4px 4px rgba(51, 51, 51, 0.04);
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

#tag {
    position: absolute;
    height: 37px;
    width: 688px;
    left: 0px;
    top: 110px;
    /* Colors / White */
    background: #FFFFFF;
    /* Shadow */
    box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.08), 0px 4px 4px rgba(51, 51, 51, 0.04);
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

#url {
    position: absolute;
    height: 37px;
    width: 688px;
    left: 0px;
    top: 170px;
    /* Colors / White */
    background: #FFFFFF;
    /* Shadow */
    box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.08), 0px 4px 4px rgba(51, 51, 51, 0.04);
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

#image {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 750px;
    top: 10px;
    box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.08), 0px 4px 4px rgba(51, 51, 51, 0.04);
    border-radius: 4px;
}

#imageholder {
    position: absolute;
    top: 220px;
    left: 750px;
    background: transparent;
}

#categorysearch {
    position: absolute;
    top: 230px;
    left: 0px;
    height: 37px;
    /* Colors / White */
    background: #FFFFFF;
    /* Shadow */
    box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.08), 0px 4px 4px rgba(51, 51, 51, 0.04);
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

#price {
    position: absolute;
    top: 230px;
    left: 250px;
}

#pricetext {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 41px;
}

#priceper {
    position: absolute;
    top: 0px;
    left: 114px;
    height: 37px;
    width: 200px;
    /* Colors / White */
    background: #FFFFFF;
    /* Shadow */
    box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.08), 0px 4px 4px rgba(51, 51, 51, 0.04);
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

#slash {
    position: absolute;
    top: 10px;
    left: 328px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 24px;
}

#unit {
    position: absolute;
    top: 0px;
    left: 348px;
    width: 90px;
    height: 37px;
    /* Colors / White */
    background: #FFFFFF;
    /* Shadow */
    box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.08), 0px 4px 4px rgba(51, 51, 51, 0.04);
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

#select {
    position: absolute;
    left: 76px;
    top: 380px;
}

#dateselect {
    position: absolute;
    left: 0px;
    top: 10px;
}

#dateselecttext {
    position: absolute;
    width: 430px;
    height: 45px;
    left: 25px;
    top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

#amountselecttext {
    position: absolute;
    width: 430px;
    height: 45px;
    left: 389px;
    top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

#amountselect {
    position: absolute;
    left: 364px;
    top: 10px;
}

#dateselectinput {
    position: absolute;
    height: 37px;
    width: 324px;
    left: 0px;
    top: 40px;
    /* Colors / White */
    background: #FFFFFF;
    /* Shadow */
    box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.08), 0px 4px 4px rgba(51, 51, 51, 0.04);
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

#amountselectinput {
    position: absolute;
    height: 37px;
    width: 324px;
    left: 364px;
    top: 40px;
    /* Colors / White */
    background: #FFFFFF;
    /* Shadow */
    box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.08), 0px 4px 4px rgba(51, 51, 51, 0.04);
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

#set {
    position: absolute;
    width: 430px;
    height: 45px;
    left: 76px;
    top: 490px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

#setdate {
    position: absolute;
    height: 37px;
    width: 324px;
    left: 0px;
    top: 40px;
    /* Colors / White */
    background: #FFFFFF;
    /* Shadow */
    box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.08), 0px 4px 4px rgba(51, 51, 51, 0.04);
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

#setplace {
    position: absolute;
    height: 37px;
    width: 324px;
    left: 364px;
    top: 40px;
    /* Colors / White */
    background: #FFFFFF;
    /* Shadow */
    box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.08), 0px 4px 4px rgba(51, 51, 51, 0.04);
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

#submit {
    /* Colors / Primary-Disabled */
    background: #6E41E2;
    border-radius: 4px;
    color: #FFFFFF;
    position: absolute;
    height: 38px;
    width: 90px;
    left: 900px;
    bottom: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #bfbfbf; /* gray */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin-left: 100px;
}
