/* [start]default upper bar */

#logo {
    height: 50px;
    margin-left: 20px;
    cursor: pointer;
}

#default_pad1 {
    width: 60%;
}

/* Place border-bottom:3px solid #6E41E2; following the identity of the page! */

#Main_Page {
    border-bottom: 3px solid #6E41E2;
    cursor: pointer;
}

#My_Order_List {
    border-bottom: 0px solid black !important;
    cursor: pointer;
}

#default_pad2 {
    width: 3%
}

#My_Name {
    color: #6E41E2
}


/* [end] default upper bar */

#div_makegb {
    float: right;
}

#dotbogi {
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
    filter: invert(40%);
}

#s_1 {
    width: 10%
}

#s_2 {
    width: 55%
}

#s_3 {
    width: 20%
}

#popular_product {
    font-size: 20px;
    vertical-align: middle
}

#popular_title {
    font-size: 10px;
}

#popular_long {
    position: absolute;
    left: 63.75%;
    top: 35%;
    border: 1px solid red;
}

#centerbar {
    border-collapse: collapse;
    border: 0px solid #6E41E2;
    display: inline-block;
    margin-bottom: 5%;
    width: 800px;
    border-radius: 7px;
    box-shadow: 0px 0px 22px -6px gray;
    /* position:absolute;
    left: 20%;
    top: 35% */
}

#button_search {
    height: 45px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 7px;
    background-color: #6E41E2;
    font-size: 20px;
    border: 0;
    outline: 0;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

#button_makegb {
    height: 50px;
    font-size: 30px;
    color: white;
    background-color: #6E41E2;
    font-size: 20px;
    border: 0;
    outline: 0;
    border-radius: 7px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 30px;
}


#search {
    width: 630px;
    height: 50px;
    font-size: 30px;
    border: none
}

.keywordHighlight{
  font-size: 30px;
  font-weight: bold;
  color: #6E41E2;
  display: inline;
  width: 400px;
}

.icon {
    background-color: #B3B3B3;
    border-radius: 50%;
    font-size: 18px;
    width: 100px;
    height: 100px;
    margin-right: 100px;
    margin-left: 20px;
    text-align: center;
    cursor: pointer
}

.pic {
    width: 50px
}

.pad {
    width: 20px
}

.resultText{
  margin-left: 50px;
  font-size: 20px;
}

.nothing{
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

.ongoingProduct{
	cursor: pointer;
}
