/* [start]default upper bar */

#logo {
    height: 50px;
    margin-left: 20px;
    cursor: pointer;
}

#default_pad1 {
    width: 60%;
}

/* Place border-bottom:3px solid #6E41E2; following the identity of the page! */

#Main_Page {
    border-bottom: 3px solid #6E41E2;
    cursor: pointer;
}

#My_Order_List {
    border-bottom: 0px solid black !important;
    cursor: pointer;
}

#default_pad2 {
    width: 3%
}

#My_Name {
    color: #6E41E2
}


/* [end] default upper bar */

#div_makegb {
    float: right;
}

#dotbogi {
    height: 45px;
    margin-right: 10px;
    margin-left: 10px
}

#s_1 {
    width: 10%
}

#s_2 {
    width: 55%
}

#s_3 {
    width: 20%
}

#popular_product {
    font-size: 20px;
    vertical-align: middle
}

#popular_title {
    font-size: 10px;
}

#popular_long {
    position: absolute;
    left: 63.75%;
    top: 35%;
    border: 1px solid red;
}

#centerbar {
    border-collapse: collapse;
    border: 1px solid black;
    margin-bottom: 5%;
    width: 50%;
    /* position:absolute;
    left: 20%;
    top: 35% */
}

#button_makegb {
    height: 50px;
    font-size: 30px;
    color: white;
    background-color: #6E41E2;
    border-radius: 4px;
    cursor: pointer;
}

#button_search {
    height: 55px;
    font-size: 25px;
    cursor: pointer;
}

#search {
    width: 100%;
    height: 50px;
    font-size: 30px;
    border: none
}

.icon {
    background-color: #B3B3B3;
    border-radius: 50%;
    font-size: 18px;
    width: 100px;
    height: 100px;
    margin-right: 100px;
    margin-left: 20px;
    text-align: center;
    cursor: pointer
}

.pic {
    width: 50px
}

.pad {
    width: 20px
}

.resultText{
  margin-left: 50px;
  font-size: 20px;
}

.nothing{
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}
